<div class="text-layout">
  <h1>DecimalPipe and Percentage</h1>
  <p>Pipes included in Angular - Usually in the Common Module</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Net Sales" subheader="Present year">
      <i class="pi pi-dollar"></i>
      {{ (netSales + 1000000) | number: "1.2-2" }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Gross Sales" subheader="Present year">
      {{ (netSales + 2000000 )| currency: "ARS":"symbol-narrow":"1.4-4" }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="Percentage Revenue" subheader="Present year">
      {{ (percentage) | percent: "2.2-2" }}
    </p-card>
  </div>
</div>
