<!-- <div class="text-layout">
  <h1>{{ name | titlecase }}</h1>

  <button
    pButton
    label="Change Name"
    (click)="showName()"
    icon="pi pi-bell"
    iconPos="right"
    class="p-button-warning"
  ></button>
  <p-card [header]="name | titlecase" subheader="Esto es tu vieja">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. A unde eius ab
    placeat sed neque ratione qui veniam quis, architecto vel at quos cumque
    voluptas minima nulla aliquam quaerat fugit.
  </p-card>
</div> -->

<app-menu></app-menu>

<router-outlet></router-outlet>
