<div class="text-layout">
  <h1>Not Commons Pipes</h1>
  <p>Pipes included in Angular - Usually in the Common Module</p>
</div>

<div class="grid">
  <div class="col md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p>
        Greetings {{ name }}, it's a pleasure to invite such a
        {{ gender | i18nSelect: invitationMap }}
        like you to our event.
      </p>
      <button
        pButton
        type="button"
        label="Change name"
        (click)="changeName()"
      ></button>
    </p-fieldset>
  </div>
  <div class="col md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>We currently {{ clients.length | i18nPlural: clientsMap }}.</p>
      <button
        pButton
        type="button"
        label="Delete client"
        icon="pi pi-trash"
        class="p-button-danger"
        (click)="deleteClient()"
      ></button>
    </p-fieldset>
  </div>
  <div class="col md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <b>Original</b>
      <pre>{{ clients }}</pre>

      <b>slice:0</b>
      <pre>{{ clients | slice: 0 }}</pre>

      <b>slice:1:2</b>
      <pre>{{ clients | slice: 1:2 }}</pre>

      <b>slice:1:3</b>
      <pre>{{ clients | slice: 1:3 }}</pre>

      <b>slice:3:3</b>
      <pre>{{ clients | slice: 3:3 }}</pre>

      <b>slice:3:4</b>
      <pre>{{ clients | slice: 3:4 }}</pre>
    </p-fieldset>
  </div>
  <div class="col md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>
        {{heroes | json}}
      </pre>
    </p-fieldset>
  </div>
  <div class="col md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of person | keyvalue">
          {{ item.key | titlecase }}: {{item.value}}
        </li>
      </ul>
    </p-fieldset>
  </div>
  <div class="col md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre *ngIf="!(myObservable | async)">Solving Observable</pre>
      <pre>{{myObservable | async}}</pre>
      <pre *ngIf="!(promiseValue | async)">Solving promise</pre>
      <pre>{{promiseValue | async}}</pre>

    </p-fieldset>
  </div>
</div>
